@charset "utf-8";

.hover-pale-gray:hover
{
  color: var(--gray);
}

#cv:hover,
#footer-btn:hover {
  background-color: var(--yellow);
}

.service-item-sub-heading:hover>.arrow-up-right,
#projects-sub-heading:hover>.arrow-up-right
{
  transform: rotate(50deg);
}

input[type="submit"]:hover {
  background-color: var(--gray);
}
