@charset "utf-8";

:root
{
  /* Fonts */
  --playpen-sans: 'Playpen Sans', cursive;
  --playpen-thin: 100;
  --playpen-medium: 500;
  --playpen-bold: 800;
  --poppins: 'Poppins', sans-serif;
  --quicksand: 'Quicksand', sans-serif;
  --quicksand-thin: 200;
  --quicksand-regular: 400;
  --quicksand-bold: 500;

  /* Dark Theme */
  /* Colors */
  --gray: hsl(40, 7%, 83%);
  --gray-text: hsl(40, 7%, 83%);
  --gray-border: hsla(60, 8%, 97%, 0.893);
  --dim-gray-bg: hsl(0, 1%, 61%);
  --yellow: hsl(38, 46%, 47%);

  /* Background Colors */
  --body-main-bg: hsl(230, 6%, 19%);
  --footer-bg: hsla(230, 7%, 16%, 0.811);
  --header-bg: hsl(223, 8%, 16%);
  --nav-btn-bg: hsla(240, 1%, 26%, 0.475);
  --services-bg: hsla(240, 1%, 26%, 0.475);
  --services-item-bg: hsla(228, 5%, 19%, 0.834);
  --services-icon-bg: hsla(240, 1%, 26%, 0.475);
  --input-bg: hsla(240, 1%, 26%, 0.823);
  --black: hsl(10, 20%, 6%);
}


/* White Theme */
.white-theme
{
  /* Colors */
  --gray: hsl(210, 10%, 23%);
  --gray-text: hsl(210, 11%, 15%);
  --gray-border: hsla(210, 1%, 15%, 0.887);
  --dim-gray-bg: hsla(208, 7%, 46%);

  /* Background Colors */
  --body-main-bg: hsl(210, 3%, 90%);
  --footer-bg: hsla(217, 5%, 83%, 0.811);
  --header-bg: hsl(210, 6%, 83%);
  --nav-btn-bg: hsla(210, 11%, 71%, 0.475);
  --services-bg: hsla(210, 11%, 71%, 0.475);
  --services-item-bg: hsl(210, 14%, 89%);
  --services-icon-bg: hsla(210, 11%, 71%, 0.475);
  --input-bg: hsla(210, 11%, 71%, 0.798);
  --black: #ffffff;
}

/* General Style */
*
{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 1.4;
}

::-webkit-scrollbar
{
  display: none;
}

html
{
  font-size: 18px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body
{
  min-height: 100vh;
  font-family: var(--poppins);
  color: var(--gray-text);
  background-color: var(--body-main-bg);
  text-overflow: clip;
}

a
{
  color: inherit;
  text-decoration: none;
}

img
{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

h1
{
  font-size: 1.5rem;
  font-family: var(--playpen-sans);
  font-weight: var(--playpen-bold);
  width: 75px;
  margin-bottom: 12px;
  position: relative;
}

h2
{
  font-size: 1.2rem;
  font-family: var(--quicksand);
  font-weight: var(--quicksand-bold);
  text-transform: capitalize;
  margin: 10px 0;
}

h3
{
  text-transform: capitalize;
}

h4
{
  font-size: .9rem;
}

.flexbox
{
  display: flex;
}

.align-items-center
{
  align-items: center;
}

#parent-container
{
  position: relative;
  width: 100%;
}

.container,
.container-fluid
{
  padding: 0 15px;
}

header
{
  background-color: var(--header-bg);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: .5rem 0;
}

#navigation-bar
{
  position: relative;
}

/* Brand Name */
#brand-name
{
  font-family: var(--playpen-sans);
  font-weight: var(--playpen-bold);
}

/* Mobile Nav */
#sm-nav
{
  display: none;
}

#sm-container
{
  font-family: var(--playpen-sans);
  font-weight: var(--playpen-medium);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 25px;
  text-align: center;
  padding: 3rem 0 1rem;
}

#sm-lets-talk
{
  display: block !important;
  width: 80% !important;
  margin: auto !important;
  padding: 10px 0 !important;
  font-size: 1.4rem;
  border-radius: 10px !important;
}

/* Desktop Nav */
#bg-nav
{
  display: none !important;
}

/* Nav Icon */
#nav-btn-and-icon
{
  top: 10px;
  transform: translateY(-8px);
  position: fixed;
  right: 10px;
  display: block;
  font-size: .6rem;
}

#sm-lets-talk,
#lets-talk,
#bg-lets-talk
{
  padding: 6px 12px;
  font-family: var(--playpen-sans);
  font-weight: var(--playpen-medium);
  text-transform: uppercase;
  border-radius: 4px;
  background-color: var(--nav-btn-bg);
}

/* Nav Btn & Icon */

/* Theme */
[data-type-theme="white"]
{
  display: none;
}

/* Menu */
[data-type-menu="close"]
{
  display: none;
}

[data-type-theme],
[data-type-menu]
{
  cursor: pointer;
  margin-left: 4px;
}

/* Header Ends */

/* Main */
main
{
  margin-top: 4rem;
}

#hero-area
{
  display: grid;
  grid-template-columns: repeat(2, 50%);
  justify-content: space-between;
  padding-bottom: 2rem;
  row-gap: 2rem;
}

#hero-name
{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  row-gap: 20px;
  position: relative;
}

#dot
{
  position: absolute;
  top: 60px;
  right: 0;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: var(--yellow);
}

#hero-img
{
  align-self: center;
}

hr.hero-line
{
  max-width: 60px;
  border: 0;
  border-top: 2px solid var(--yellow);
}

#hero-contact,
#cv,
#footer-btn
{
  border: 2px solid var(--yellow);
  text-align: center;
  justify-content: center;
  max-width: 120px;
  border-radius: 6px;
  padding: 6px 0;
  margin: 12px 0;
  display: flex;
  align-items: center;
}

#hero-contact,
#hero-social
{
  column-gap: 7px;
  font-family: var(--playpen-sans);
  font-weight: var(--playpen-medium);
}

#hero-social
{
  display: grid;
  align-items: center;
  row-gap: 7px;
}

#email-hidden
{
  display: none;
}

#intro
{
  grid-column-end: span 2;
  text-align: justify;
}

#intro :is(h4, h2)
{
  text-align: center;
  text-transform: uppercase;
}

#intro :is(h4)
{
  color: var(--yellow);
  margin-top: 1rem;
}

#intro-learn-more
{
  display: block;
  padding-top: 15px;
}

/* Services */
#services
{
  padding: 2rem 0;
  background-color: var(--services-bg);
}

#services-container
{
  padding: 2rem 0;
}

#services-item-container
{
  display: grid;
  row-gap: 25px;
}

#web-design,
#development
{
  background-color: var(--services-item-bg);
  padding: 22px;
  border-radius: 8px;
}

.services-grid-itembox
{
  display: grid;
  gap: 10px;
  font-family: var(--quicksand);
  padding: 1.5rem 0;
}

:is(.service-item-1)
{
  letter-spacing: 1.5px;
  font-weight: var(--quicksand-thin);
}

:is(.service-item-2)
{
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: var(--quicksand-bold);
  letter-spacing: 1.5px;
}

:is(.service-item-3)
{
  font-weight: var(--quicksand-regular);
  padding: 0 25px 0 0;
  line-height: 1.5;
}

:is(.service-item-4) .service-item-sub-heading
{
  font-family: var(--quicksand);
  font-weight: var(--quicksand-thin);
  font-size: 0.9rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 1.5rem;
}

:is(.service-item-4) .service-item-sub-heading .arrow-up-right
{
  cursor: pointer;
  background-color: var(--services-icon-bg);
}

/* Projects */
#projects
{
  padding: 3rem 0;

}

:is(#projects-main-header, #projects-sub-heading)
{
  text-align: center;
  line-height: 1.9;
}

#projects-main-header
{
  font-size: 1.4rem;
}

.arrow-up-right
{
  padding: 7px;
  border-radius: 50%;
  border: 2px solid var(--gray-border);
  transition: transform 1s;
}

#projects-sub-heading
{
  font-family: var(--quicksand);
  font-weight: var(--quicksand-fw-200);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: .5rem;
  cursor: pointer;
}

#projects-sub-heading
{
  justify-content: center;
}

ul#projects-grid-container
{
  padding-top: 1.5rem;
  display: grid;
  row-gap: 15px;
}

/* Footer */
footer
{
  padding: 2rem 0 1rem;
  background-color: var(--footer-bg);
}

#footer-container
{
  display: grid;
  row-gap: 2rem;
}

#footer-header
{
  display: grid;
  row-gap: 1.2rem;
  text-align: center;
}

#footer-main-header
{
  color: var(--yellow);
}

#footer-big-subhead
{
  font-family: var(--playpen-sans);
  font-size: 4rem;
  font-weight: var(--playpen-thin);
}

.footer-article-header
{
  font-family: var(--playpen-sans);
  font-weight: var(--playpen-thin);
  font-size: 2rem;
  text-align: center;
}

#footer-btn
{
  font-size: 0.8rem;
  font-family: var(--playpen-sans);
  font-weight: var(--playpen-medium);
}

#footer-contact
{
  display: grid;
  row-gap: 1.5rem;
}

#footer-socials
{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  width: 70%;
  margin: auto;
}

/* Form */
form
{
  display: grid;
  row-gap: 1rem;
}

::placeholder
{
  color: var(--gray-text);
}

:is(input, textarea)
{
  padding: 0 1rem;
  height: 50px;
  border-collapse: collapse;
  text-align: left;
  border-radius: 0.4rem;
  background-color: transparent;
  border: 1px solid var(--input-bg);
  color: var(--gray-text);
}

input[type="submit"]
{
  font-family: var(--playpen-sans);
  font-weight: var(--playpen-bold);
  background-color: var(--dim-gray-bg);
  width: 40%;
  text-align: center;
  cursor: pointer;
  color: var(--black);
}

/* Copyright */
#copyright
{
  font-size: 0.8rem;
  padding-top: 1.5rem;
}
